:root {
  margin: 0;
  padding: 0;
  /* Colors: */
  --lecture6-blue: #72b4ed;
  --lecture9-pink: #ed72df;
  --lecture8-purple: #cc72ed;
  --lecture7-violet: #8572ed;
  --lecture5-skyblue: #72e4ed;
  --lecture4-green: #a1ed72;
  --lecture3-yellow: #edcc72;
  --lecture2-orange: #eda672;
  --lecture1-red: #ed7272;

  --white: #ffffff;
  --background: var(--white);
  --gray5: #efefef;
  --gray10: #e1e1e1;
  --gray20: #b2b2b2;
  --gray40: #7f7f7f;
  --gray60: #616161;
  --gray80: #323232;
  --black: #000000;
  --secondary-mint: #7cffe6;
  --secondary-yellow: #ffd95a;
  --primary-light: #cec6fb;
  --primary-medium: #b8acfb;
  --primary: #907cff;
  --primary-dark: #7363cc;
  --primary-black: #574b99;
}

* {
  font-family: 'Roboto', sans-serif;
}
