:root {

  margin: 0;
  padding: 0;
  /* Colors: */
  --primary-57: #574b99;
  --primary-73: #7363cc;
  --primary-90: #907cff;
  --primary-b8: #b8acfb;
  --primary-ce: #CEC6FB;
  --gray-32: #323232;
  --gray-61: #616161;
  --gray-7f: #7f7f7f;
  --gray-b2: #b2b2b2;
  --gray-e1: #e1e1e1;
  --gray-ef: #efefef;
  --gray-f7: #f7f7f7;
  --black: #000000;
  --white: #FFFFFF;
}

* {
  font-family: 'Roboto', sans-serif;
}